<div id="mini-cart-popup" class="mini-cart-popup" aria-hidden="true">
  {%- capture shipping_alert -%}
    {%- if settings.cart_show_free_shipping_threshold -%}
      {%- assign threshold_in_cents = settings.cart_free_shipping_threshold | times: 100 -%}

      {%- if cart.total_price >= threshold_in_cents -%}
        <p class="alert alert--tight alert--center text--strong">{{ 'cart.general.free_shipping' | t }}</p>
      {%- else -%}
        {%- capture remaining_amount -%}<span>{{ cart.total_price | minus: threshold_in_cents | abs | money }}</span>{%- endcapture -%}
        <p class="alert alert--tight alert--center text--strong">{{ 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount }}</p>
      {%- endif -%}
    {%- endif -%}
  {%- endcapture -%}
  {%- if cart.item_count > 0 -%}
    <div class="mini-cart__inner-popup">
      {% assign show_popup_with_accessories = false %}
      {%- for line_item in cart.items -%}
        {% if line_item.title == cart.attributes.main-prod-title %}
          {% for tag in line_item.product.tags %}
            {% if tag contains 'accessory_' %}
              {% assign show_popup_with_accessories = true %}
            {% endif %}
          {% endfor %}
          {% if show_popup_with_accessories == true %}
            {% render 'popup-with-accessories', line_item:line_item %}
          {% else %}
            {% render 'popup-with-out-accessories', line_item:line_item %}
          {% endif %}
        {% endif %}
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>
  
  