<div class="checkbox-container" data-gift-note-html>
  <div class="click_block"></div>
  <input checked type="checkbox" class="input-checkbox" id="gift-message" required>
  <span class="link-title">
    {{ section.settings.linklist_title }}
  </span>
  <div class="checkbox-content">
    <div class="head-wrap">
      <h2>Terms & Conditions</h2>
      <div class="close-popup" >{%- render 'icon', icon: 'close' -%}</div>
    </div>
    
    <p>
      <strong>
        The following Terms and Conditions apply to the use of this Web site as well as all transactions conducted through the site. <br>
        <br>
        Legal Notice<br>
      </strong>

      All notices from Factory Furnace Outlet to You may be posted on our Web site and will be deemed delivered within thirty (30) days after posting. Notices from You to Factory Furnace Outlet shall be made either by e-mail, sent to the address we provide on our website, or first-class mail to our address at: <br>
      Factory Furnace Outlet, 426 Alexandersville Road, Miamisburg, Ohio 45432<br>
      Delivery shall be deemed to have been made by You to Factory Furnace Outlet five (5) days after the date sent.<br>
      <br>
      <strong>Copyright</strong><br>
      <br>
      All content appearing on this Web site is the property of: <br>
      Factory Furnace Outlet, 426 Alexandersville Road, Miamisburg, Ohio 45432<br>
      Copyright © 2009-2019 Factory Furnace Outlet. All rights reserved.<br>
      <br>
      <strong>Trademarks</strong><br>
      <br>
      All brand, product, service, and process names appearing on this Web site are trademarks of their respective holders. 
      Reference to or use of a product, service, or process does not imply recommendation, approval, affiliation, or sponsorship of that product, service, or process by Factory Furnace Outlet. 
      Nothing contained herein shall be construed as conferring by implication, estoppel, or otherwise any license or right under any patent, copyright, trademark, or other intellectual property right of Factory Furnace Outlet or any third party, except as expressly granted herein.<br>
      <br>
      <strong>Use of Website</strong><br>
      <br>
      This site may contain other proprietary notices and copyright information, the terms of which must be observed and followed. 
      Information on this site may contain technical inaccuracies or typographical errors. Information, including product pricing and availability, may be changed or updated without notice. 
      Factory Furnace Outlet and its subsidiaries reserve the right to refuse service, terminate accounts, and/or cancel orders in its discretion, including, without limitation, if Factory Furnace Outlet believes that customer conduct violates applicable law or is harmful to the interests of Factory Furnace Outlet and its subsidiaries.<br>
      <br>
      <strong>Privacy Policy</strong><br>
      <br>
      We respect your privacy. 
      Therefore, we never share or sell your personal information with any third parties. 
      Any information collected through this site is intended to be used for this transaction only.  
      Your personal information is secured via SSL (Secure Socket Layer) Technology.<br>
      <br>
      This Privacy Statement is intended to inform you of our policies and practices regarding the collection, use and disclosure of any personal information you submit to us through our website. 
      "Billing Information" is information about you that is personally identifiable to you like your name, address, phone number or e-mail address, as well as other non-public information that is associated with the foregoing.<br>
      <br>
      We pay close attention to how Personal Information about our visitors is used and shared, and we use Personal Information sensibly.<br> 
      <br>
      We act as a service provider to our customers and may process and store on behalf of our customers Personal Information that our customers collect under the privacy policy they have posted on their websites from the users of such websites.
      We do not own this Personal Information.<br>
      <br>
      <strong>User Consent</strong><br>
      <br>
      By submitting Personal Information through our websites, you agree to the terms of this Privacy Statement.<br>
      <br>
      You expressly consent to the processing of your Personal Information according to this Privacy Statement. 
      Personal Information may be processed by shop.thefurnaceoutlet.com, Developer(s), or User(s) in the country where it was collected as well as other countries (including the United States) where laws regarding processing of Personal Information may be less stringent.<br>
      <br>
      <strong>Collection of Personal Information</strong><br>
      <br>
      The Personal Information we gather from you helps us learn about our customers and potential customers. 
      We use this information to better tailor the features, performance and support of our solutions, products and services, and to contact you from time to time about with information and offers about our products and services.<br>
      <br>
      <strong>DoubleClick DART Cookie</strong><br>
      <br>
      Google, as a third-party vendor, uses cookies to serve ads on thefurnaceoutlet.com.
      Google’s use of the DART cookie enables it to serve ads to users based on their visit to www.thefurnaceoutlet.com and other sites on the Internet.  
      Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at the following URL – <a href="http://www.google.com/privacy_ads.html">http://www.google.com/privacy_ads.html</a><br>
      <br>
      Some of our advertising partners may use cookies and web beacons on our site. Our advertising partners include Google Adsense.  
      These third-party ad servers or ad networks use technology to the advertisements and links that appear on www.thefurnaceoutlet.com send directly to your browsers. 
      They automatically receive your IP address when this occurs. 
      Other technologies (such as cookies, JavaScript, or Web Beacons) may also be used by the third-party ad networks to measure the effectiveness of their advertisements and / or to personalize the advertising content that you see.  
      Please be cognizant thefurnaceoutlet.com has no access to or control over these cookies that are used by third-party advertisers.<br>
      <br>
      You should consult the respective privacy policies of these third-party ad servers for more detailed information on their practices as well as for instructions about how to opt-out of certain practices.  
      Our privacy policy at www.thefurnaceoutlet.com does not apply to, and we cannot control the activities of, such other advertisers or web sites.<br>
      <br>
      If you wish to disable cookies, you may do so through your individual browser options. 
      More details information about cookies management with specific web browsers can be found at the browsers’ respective websites.<br>
      <br>
      <strong>Personal Information You Provide to Us</strong><br>
      We collect Personal Information that you submit to us voluntarily through our websites. The types of Personal Information we collect include:<br>
      <br>
      <strong>For receiving information / material</strong><br>
      If you contact us to receive information material (such as one of our whitepapers), we will collect your name, e-mail address and the information when you plan on purchasing a product on our website.<br>
      <br>
      <strong>Quotes</strong><br>
      In order to receive a quote from us, we will collect your name, phone number, e-mail address, mailing address and your Web address. <br>
      <br>
      <strong>For Employment Applications</strong><br>
      If you apply for an employment opportunity via e-mail, we will collect your e-mail address and any information contained in the e-mail you send us. <br>
      <br>
      <strong>For General Information</strong><br>
      If you contact us via e-mail to get general information, we will collect your e-mail address and any information contained in the e-mail you send us. <br>
      <br>
      <strong>For Technical Support</strong><br>
      If you contact us via e-mail to get technical support, we will collect your e-mail address and any information contained in the e-mail you send us. <br>
      <br>
      <strong>For Strategic Distribution Partners Information</strong><br>
      If you contact us via e-mail to receive Strategic Distribution Partners Information, we will collect your e-mail address and any information contained in the e-mail you send us. <br>
      <br>
      <strong>Personal Information Collected via Technology</strong><br>
      <br>
      As you navigate our website, certain passive information may also be collected, including your Internet Protocol address, browser type, and operating system. 
      We also use cookies and navigational data like Uniform Resource Locators (URL) to gather information regarding the date and time of your visit and the solutions and information for which you searched and viewed. 
      This type of information is collected to make our solutions and services more useful to you.<br>
      <br>
      <strong>Personal Information We Receive from Other Sources</strong><br>
      <br>
      We may receive Personal Information about you from other sources like telephone or telefax. We may add this information to the information we have already collected from you via our website in order to improve the solutions and services we provide.<br>
      <br>
      <strong>Use of Information</strong><br>
      <br>
      In general, Personal Information you submit to us is used either to set up solutions or purchase website marketing services, respond to requests that you make, to process transactions, to facilitate request(s) for a quote from a third party service provider, or to aid us in serving you better. 
      We may also use your Personal Information to provide you with electronic newsletters or promotional e-mails as well as information and offers about our products and services.<br>
      <br>
      <strong>Disclosure of Personal Information</strong><br>
      <br>
      Except as otherwise stated in this Privacy Statement: we do not generally trade, rent, or share your Personal Information with third parties, we will not disclose any information that you ask us to keep confidential, and we will not disclose financial information unless you ask us to do so. 
      In order to build the solutions for you, we may engage third parties to assist us, and, in connection with such assistance, we may provide them with Personal Information that you have provided and that is necessary for them to assist us.<br>
      <br>
      We use third parties to maintain and store your Personal Information and to process any payment you make to us. 
      Generally, these third parties are required not to use your Personal Information other than to provide the services requested by shop.thefurnaceoutlet.com.<br>
      <br>
      We currently have subsidiaries and other companies under a common control (collectively, "affiliates"). 
      We may share some or all of your Personal Information with these affiliates, in which case we will require our affiliates to honor this Privacy Statement.<br>
      <br>
      If our company or our assets are acquired by another company, that company will possess the Personal Information collected by us and it will assume the rights and obligations regarding your Personal Information as described in this Privacy Statement<br>
      <br>
      We may disclose your Personal Information if we believe in good faith that such disclosure is necessary to (a) comply with relevant laws or to respond to subpoenas or warrants served on Factory Furnace Outlet; or (b) to protect and defend the rights or property of Factory Furnace Outlet or users of our websites or our customers’ websites.<br>
      <br>
      <strong>Your Choices Regarding Your Personal Information</strong><br>
      <br>
      Should you decide to stop receiving further communications or newsletters from us, you will have the opportunity to "opt-out" by following the unsubscribe instructions provided in the e-mail. 
      If at any time you wish to subscribe to any communications from us, you may do so by contacting us. 
      Despite your indicated e-mail preferences, we may send you notices of any updates of our legal Notices, Terms of Use, Privacy Statement, on the account you created with us.<br>
      <br>
      <strong>Regarding Minors</strong><br>
      Our websites are not designed for minors under the age of 18. 
      We do not intentionally gather Personal Information about visitors who are under the age of 18.<br>
      <br>
      <strong>Links to Other Sites</strong><br>
      Our provision of a link to any other website or location is for your convenience and does not signify our endorsement of such other website or location or its contents. 
      We have no control over, do not review, and cannot be responsible for these outside websites or their content. Please be aware that the terms of our Privacy Statement do not apply to these outside websites.<br>
      <br>
      <strong>Security</strong> <br>
      We use reasonable measures to maintain the security of your Personal Information. 
      Even so, technical mistakes are possible. 
      No company, including Factory Furnace Outlet, can fully eliminate security risks associated with Personal Information.<br>
      <br>
      <strong>Contact Us</strong><br>
      <br>
      Should you have any questions or concerns regarding this privacy policy, please contact us:<br>
      <br>
      Factory Furnace Outlet<br>
      426 Alexandersville Road, Miamisburg, Ohio 45432<br>
      <br>
      <a href="mailto:contact@thefurnaceoutlet.com">contact@thefurnaceoutlet.com</a><br>
      <br>
      888-286-0211<br>
      <br>
      <strong>Privacy Statement Updates</strong><br>
      <br>
      This Privacy Statement is subject to occasional revision, and if we make any substantial changes in the way we use your Personal Information, we will post an alert on this page. 
      If you object to any such changes, you must cease using our website. Continued use of our website following notice of any such changes shall indicate your acknowledgment of such changes and agreement to be bound by the terms and conditions of such changes.<br>
      <br>
      This statement was last updated on April 1, 2019.<br>
      <br>
      <strong>Conditions of Use and Revisions</strong><br>
      <br>
      If you choose to visit www.thefurnaceoutlet.com, your visit and any dispute over privacy is subject to this Privacy Notice, as governed by the laws of the State of Ohio. <br>
      <br>
      <strong>Consumer Agreement</strong><br>
      <br>
      Consumer agrees to comply with Section 608 of the Clean Air Act of 1990 when handling any refrigerant containing appliance. 
      Consumer also agrees to closely follow all local, State and National codes.<br>
      <br>
      <strong>Return Policy</strong><br>
      <br>
      Please see policy: <a href="https://ffo1.myshopify.com/pages/return-policy">https://ffo1.myshopify.com/return-policy</a><br>
      <br>
      <strong>Shipping, Delivery, & Damage Claims</strong><br>
      <br>
      Please see policy: <a href="https://ffo1.myshopify.com/pages/shipping-policy">https://ffo1.myshopify.com/shipping-policy</a><br>
      <br>
      <strong>Ordering & Cancellations Policy</strong> <br>
      <br>
      Please see policy: <a href="https://ffo1.myshopify.com/pages/ordering-cancellations">https://ffo1.myshopify.com/ordering-cancellations</a><br>
      <br>
      <strong>Sales Tax</strong> <br>
      <br>
      Factory Furnace Outlet charges sales tax for merchandise ordered on this Web site based on the applicable state sales tax rate where applicable.<br>
      <br>
      <strong>Warranty Information</strong> <br>
      <br>
      Please see link: <a href="https://ffo1.myshopify.com/pages/warranty-claims">https://ffo1.myshopify.com/warranty-claims</a><br>
      <br>
      <strong>Store Hours</strong> <br>
      <br>
      Our normal business hours are 8 AM-7 PM EST time Monday thru Friday.  Our customer service email is available 24/7/365 and will be returned promptly.<br>
      <br>
      <strong>Scratch and Dent Sales</strong> <br>
      <br>
      All sales are final on scratch and dent items. There will be no returns, refunds or option to refuse the product at delivery.<br>
      <br>
      <strong>Miscellaneous</strong> <br>
      <br>
      <strong>VOID WHERE PROHIBITED:</strong><br>
      <br>
      Although the information on this Web site is accessible worldwide, not all products or services discussed in this Web site are available to all persons or in all geographic locations or jurisdictions. 
      Factory Furnace Outlet and the advertisers each reserve the right to limit the provision of their products or services to any person, geographic area, or jurisdiction they so desire and to limit the quantities of any products or services that they provide. 
      Any offer for any product or service made in the materials on this Web site is void where prohibited. <br>
      <br>
      <strong>GOVERNING LAW:</strong><br>
      <br>
      In the event of litigation both parties agree that the Law of the State of Ohio shall apply and both parties shall consent to the jurisdiction of said State's courts, or in the event of diversity of citizenship, the United States District Court for the Southern District of Ohio. 
      Both parties expressly waive a trial by jury. <br>
      <br>
      <strong>MISCELLANEOUS TERMS & CONDITIONS:</strong><br>
      <br>
      The Terms and Conditions constitute the entire agreement between you and Factory Furnace Outlet with respect to this website. 
      The Terms and Conditions supersede all prior or contemporaneous communications and proposals, whether electronic, oral or written between you and Factory Furnace Outlet with respect to this website. 
      No modification of the Terms and Conditions shall be effective unless it is authorized by Factory Furnace Outlet. 
      If any provision of the Terms and Conditions is found to be contrary to law, then such provision(s) shall be constructed in a manner to closely reflect, as much as possible, the intentions of the parties, with the other provisions remaining in full force and effect.
    </p>
  </div>
</div>

<style>
  .checkbox-container .click_block{
    width: 100%;
    height: 100%;
    opacity: .8;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 100;
    display: none;
    left: 0;
  }

  .checkbox-container .link-title{
    text-decoration: underline;
    margin-left: 7px;
    cursor: pointer;
  }

  .checkbox-content{
    opacity: 0;
    position: fixed;
    z-index: 999;
    background: white;
    top: 10%;
    height: 80vh;
    width: 1150px;
    overflow: overlay;
    -webkit-box-shadow: 0px 0px 23px 5px rgb(0 0 0 / 54%);
    -moz-box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.54);
    box-shadow: 0px 0px 23px 5px rgb(0 0 0 / 54%);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 2%;
    visibility: hidden;
    transform: scale(.9);
    transition: opacity .4s cubic-bezier(0, 1, .4, 1),transform .4s cubic-bezier(.18, 1.25, .4, 1),visibility .4s linear;
  }

  .checkbox-content .head-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: white;
    margin: -17px;
    padding: 0 40px;
    -webkit-box-shadow: 0px 0px 23px 5px rgb(0 0 0 / 54%);
    -moz-box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.54);
    box-shadow: 0px 16px 12px -15px rgb(0 0 0 / 68%);
  }

  .checkbox-content .head-wrap .close-popup{
    width: 20px;
    cursor: pointer;
  }

  .checkbox-content .head-wrap h2{
    text-align: center;
    margin: 20px 0;
    font-size: 1.6em;
    font-weight: 700;
    color: #014e76;
  }

  .checkbox-content p > strong{
    font-size: 16px;
    color: #014e76;
  }

  .showPopup{
    opacity: 1;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: opacity .4s cubic-bezier(0, 1, .4, 1),transform .4s cubic-bezier(.18, 1.25, .4, 1),visibility .4s linear;
  }

  .step__footer__continue-btn{
    border-radius: 30px;
  }

  .sidebar__content .total-line__price .order-summary__small-text{
    display: none;
  }

  @media screen and (max-width: 767px) {
    .checkbox-content{
      width: 100%;
      margin: auto;
      left: 2%;
      margin: auto;
      max-width: 96vw;
    }

    .checkbox-content .head-wrap{
      margin: -5px;
    }
  }

  @media screen and (max-width: 400px) {
    .checkbox-content .head-wrap{
      padding: 0 25px;
    }
    
    .checkbox-content .head-wrap h2{
      font-size: 1.2em;
    }

    .checkbox-content p{
      font-size: 12px;
    }
  }

</style>

{% schema %}
{
  "name": "Custom checkout",
  "settings": [
    {
      "type": "text",
      "id": "linklist_title",
      "label": "Heading",
      "default": "Heading"
    }
  ]
}
{% endschema %}